<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/main :: page(title='Квесты', appMain=~{::appMain}, appMainFluid=~{::appMainFluid}, activeMenuItem='quests')}">

    <!-- Контент для container -->
    <appMain>
        <div class="container-fluid">
            <!-- Сетка карточек 2x2 -->
            <div class="row">
                    <div class="card h-100 shadow-sm">
                        <h1  th:text="${stage.title}">Сцена</h1>
                        <p  th:utext="${stage.description}">Описание сцены</p>
                        <div th:if="${stage.question?.description}">
                            <h2  th:text="${stage.getQuestion().getDescription()}">Вопросы</h2>
                            <div th:if="${not #lists.isEmpty(stage.question.answerList)}">
                                <div th:each="answer, iter : ${stage.getQuestion().getAnswerList()}" class="col-lg-6 col-md-6 col-sm-12 mb-4">
                                    <a th:href="@{/ui/quests/quest/gaming(id=${answer.getStageId()})}" class="btn btn-primary w-100"
                                       th:text="${answer.description}">
                                        Ответ на вопрос
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div th:if="${stage.win ==true}">
                            <h2>Вы победили!</h2>
                        </div>
                        <div th:if="${stage.defeat ==true}">
                            <h2>Вы проиграли!</h2>
                        </div>
                        <div th:if="${stage.win ==true or stage.defeat ==true}">
                            <a th:href="@{/ui/quests/quest/start(id=${stage.getQuest().getId()})}" class="btn btn-primary w-100">
                                Начать заново?
                            </a>
                        </div>
                        <img th:src="${'/images/' + (stage.imgPath != null ? stage.imgPath : 'quests/default_img.jpg')}"
                             th:alt="${stage.title}"
                             class="card-img-top"
                             style="object-fit: contain; max-height: 100%; max-width: 100%;">
                        <!--
                        <div class="card-img-top-container" style="height: 200px; overflow: hidden; display: flex; justify-content: center; align-items: center; background-color: #f8f9fa;">
                            <img th:src="${'/images/' + (quest.imgPath != null ? quest.imgPath : 'quests/default_img.jpg')}"
                                 th:alt="${quest.questName}"
                                 class="card-img-top"
                                 style="object-fit: contain; max-height: 100%; max-width: 100%;">
                        </div>

                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title" th:text="${quest.questName}">Название квеста</h5>

                            <p class="card-text flex-grow-1" th:text="${quest.description}">Описание квеста</p>

                            <div class="mt-auto">
                                <p th:if="${quest.new}"  class="mb-2">
                                    Статус:
                                    <span th:if="${quest.new}" class="badge bg-success">Новый</span>
                                </p>
                                <a th:href="@{'/ui/quests/quest/' + ${quest.id}}" class="btn btn-primary w-100">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
        </div>
    </appMain>

</th:block>